---
---

// Variables
@import "utilities/variables";

// Utility styles
@import "utilities/mixins";
@import "utilities/utils";
@import "utilities/syntax-highlighting";
@import "utilities/animations";

// Core
@import "base/normalize";
@import "base/global";
@import "base/layout";
@import "base/typography";

// Components
@import "components/navigation";
@import "components/pagination";
@import "components/code";
@import "components/message";

// Pages
@import "pages/landing";
@import "pages/posts";

img[src*="#three_fourths_width"] {
    text-align: center;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
};

img[src*="#one_fourths_width"] {
    text-align: center;
    width: 24.9%;
    display: block;
    margin-left: auto;
    margin-right: auto;
};
